openai
langchain==0.0.292
docx2txt
pypdf
streamlit
chromadb
tiktoken
pysqlite3-binary
langchain-wenxin
qianfan==0.0.3
streamlit-authenticator
PyJWT>=2.3.0
bcrypt>= 3.1.7
PyYAML>= 5.3.1
extra-streamlit-components>= 0.1.60
PyPDF2==3.0.1